.DS_Store
*.swp
*.pyc
__pycache__/
.env
backend/.env
*.zip
*.log
ael_screen_ai/.dart_tool/
ael_screen_ai/.packages
ael_screen_ai/.pub/
ael_screen_ai/build/
ael_screen_ai/.flutter-plugins
ael_screen_ai/.flutter-plugins-dependencies
ael_screen_ai/ios/Pods/
ael_screen_ai/ios/.symlinks/
ael_screen_ai/android/.gradle/
ael_screen_ai/android/local.properties
ael_screen_ai/android/key.properties
ael_screen_ai/.idea/
ael_screen_ai/*.iml
flutter_sdk/
